body{
  font-family: "helvetica neue";
  font-size: 12px;
  background-color: #E1F1F1;
}

/* ------- index.html ------- */
/* ## VIDEO ## */

#vid {
	clear: both;
  display:block;
  margin: auto;
  position: relative;
  width: 480px;
  padding: 0 0 42px 0;
}

#canvas {
  position: relative; 
  display: inline-block;
}

#canvasOverlay {
  position: absolute; 
  top: 0px; 
  z-index: 100001; 
  display: block;
}

.blur{
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.border{
  width: 460px;
  height: 340px;
  border: 42px solid #E1F1F1;
  z-index: 100001;
  right: -30px;
  top: -30px;
  position: absolute;
}

#border{
  position: absolute;
}

/* ## BUTTON ## */

#end_camera{
  /*text-align: center;
  margin: auto;
  display:none;
  width: 100px;*/
}

button {
  width: 100px;
  display: inline-block;
  height: 50px;
  text-align: center;
  background-color: #2B8A81;
  border: none;
  font-size: 1em;
  float: left;
  margin: 2px;
}

button:hover {
  background-color: #BD640F;
}
button:visited, button:active{
  background-color: #44A39D;
}

/* ## GRAPHS ## */

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

#confidenceGraph{
  width: 600px;
  height: 140px;
  margin: 10px;
}

#countdown{
	float: left;
  margin: auto;
}

.graph{
  float:left;
  clear:both;
}

#confidenceGraph{
  float:left;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

#heartbeat{
  height: 200px;
  width: 200px;
}
/* ## SPLASH PAGE ## */

h1{
  font-family: "BlurBold";
  font-weight: normal;
  font-size: 13em;
  color: #8FA1A3;
  letter-spacing: .05em;
}

h2{
  font-family: "hero light";
  font-size: 2.3em;
  color: #0E0C09;
  letter-spacing: .05em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  background-color: #2B8A81;
  color: #E1F1F1;
}

#container{
  width: 600px;
  margin: 0 auto;
  display:block;

}

#overlay{
  position: absolute;
  top: 150px;
}

.begin {
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 150px;
  padding: 20px;

}

#hidden{
  float: right;
  margin: 0 60px 0 0;
  /*display: none;*/

}

.hide {
  display: none;
}

#arrow {
  margin: 50px 0;
  width: 0;
  height: 0;
  border-top: 200px solid #66A18B;
  border-left: 200px solid transparent;
  /*-webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);*/
  position: relative;
  display: block;
  }

#arrow:after {
  display: block;
  width: 180px;
  height: 180px;
  background: #66A18B;
  position: absolute;
  content: "";
  top: -130px;
  left: -250px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

#allowWebcam{
  top: -40px;
  right: 100px;
  position: relative;
  display: none;
}

#pulse{
  position: relative;
  top: 100px;
}

/* ## SPLASH PAGE GRAPH ## */
#graph{
  width: 600px;
  height: 210px;
  position: relative;
  top: 180px;
  /*top: -260px;*/
  z-index: -1;
  background-color: #DA755C;
}
.waveform{
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
}

/* ## CSS Animations ##
borrowed with love from: http://www.justinaguilar.com/animations/
 */

.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;  

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;   
  }
  50% {
    transform: scale(1);
    opacity: 1; 
  } 
  100% {
    transform: scale(0.9);
    opacity: 0.7; 
  }     
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;   
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; 
  }     
}