{% extends "master.html" %}
{% block body %}

  <div id="hidden">
      <div id="arrow" class="pulse"></div>
      <h2 id="allowWebcam">allow webcam</h2>
  </div>
  <div id="vid" class="video">
    <div id="border"></div>

    <canvas id="canvas" class="video"></canvas>
    <canvas id="canvasOverlay" class="video"></canvas>
  </div>

  <div id="buttonBar" class="hide">
      <button id="end_camera" name="end_camera">Pause Camera</button>
      <button id="blurToggle" name="blurToggle">Fade Video</button>
      <button id="minToggle" name="minToggle">Minimize Video</button>
  </div>

  <div id="heartbeat"></div>
  <div id="rawDataGraph" class="graph"></div>
  <div id="confidenceGraph" class="graph"></div>



  <script src="/static/js/main.js"></script>
  <script>

    $( "#minToggle" ).click(function() {
      if ($("#minToggle").html() == "Minimize Video"){
        var offset = $( ".video" ).offset()
        debugger;
        $( ".video" ).animate({
          width: 240,
          height: 180,
          right: "+=" + offset.left + "px"
        }, 1500 );
        $( "#border" ).animate({
          width: 225,
          height: 170,
          right: "+=" + offset.left + "px",
          top: "-=10px"
        }, 1500 );
        $("#minToggle").html("Maximize Video");
      } else {
        debugger;
        var offset = $( ".video" ).offset()
        $( ".video" ).animate({
          width: 480,
          height: 360,
          right: "-=50px"
        }, 1500 );
        $( "#border" ).animate({
          width: 460,
          height: 340,
          right: "-30px",
          top: "-30px"
        }, 1500 );
        $("#minToggle").html("Minimize Video");
      }
      
    });
    $( "#blurToggle" ).click(function() {
      $( "#canvas" ).toggleClass("blur");
      $( "#border").toggleClass("border");
      if ($("#border").position().top == "-10"){
        $("#border").css("top", "-40px");
      }

      var html = $("#blurToggle").html()
      if ($("#blurToggle").html() == "Fade Video"){
        $("#blurToggle").html("Focus Video");
      } else {
        $("#blurToggle").html("Fade Video");
      }
     

    });

    $("#end_camera").click(function(){
      if ($("#end_camera").html() == "Pause Camera"){
        $("#end_camera").html("Restart Camera");
      } else {
        $("#end_camera").html("Pause Camera");
      }

    });

  </script>

{% endblock %}