<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
    <title>Pulse</title> 
    <link href='http://fonts.googleapis.com/css?family=Chango|Raleway:600,300' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/animate.js"></script>
    <script src="/static/js/underscore-min.js"></script>
  	<script src="/static/js/d3.min.js"></script>
  	<script src="/static/js/rickshaw.min.js"></script>
  	<script src="/static/js/websocket.js"></script>
  	<script src="/static/js/mathmatical.js"></script>
  	<script src="/static/js/camera.js"></script>
  	<script src="/static/js/headtrackr.js"></script>
  	<script src="/static/js/dsp.js"></script>

  </head>
<body>

{% block body %}{% endblock %}


</body>

</html>

